$primaryBtn: hsl(16, 55%, 49%);

header {
    background: lightblue;
    display: flex;
    justify-content: center;
}

header button {
    background:$primaryBtn;
}

.contact {
    background:$primaryBtn;
}