$skycolor: deepskyblue;
$textcolor: black;



.container {
    height: 90vh;
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-areas: "header header header"
                         "left main right"
                         "footer footer footer";
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 10px;
 }
 .cell-1 {
    background: $skycolor;
    grid-area: header;
 }

 .cell-3 {
    background: limegreen;
    grid-area: main;
    @include centerAll ();
    @include shadow ();
 }
 .cell-4 {
    background: gold;
    grid-area: right;
 }
 .cell-5 {
    background: blueviolet;
    grid-area: footer;
 }
 .cell {
    @include centerAll ();
    color: white;
    font-size: 20px;
 }
 section {
    background-color: white;
    &:hover {
        background-color: rgba(255, 0, 0, 0.11);
    }
 }